pipeline/CachedOutput-Demo.json
{
	"name": "CachedOutput-Demo",
	"properties": {
		"activities": [
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "CachedSinkDemo",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "maxid",
					"value": {
						"value": "@string(activity('Data flow1').output.runStatus.output.CachedMaxID.value[0].maxid)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"maxid": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-10T12:31:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}