pipeline/lkpDemo.json
{
	"name": "lkpDemo",
	"properties": {
		"activities": [
			{
				"name": "TableList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "LkpData",
						"value": "Lkp Used for TableList"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from shekarsqldb.INFORMATION_SCHeMA.TABLES WHERE table_type = 'BASE TABLE'\nand TABLE_NAME IN ('Cars','Movies','Countries')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TableList",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "TableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "Foreach",
						"value": "Give Values based on csv"
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('TableList').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "exportTable",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQLtable",
									"type": "DatasetReference",
									"parameters": {
										"Tablename": {
											"value": "@item().table_name",
											"type": "Expression"
										},
										"Schemaname": {
											"value": "@item().table_schema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "csvtable",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat(item().table_schema,'-',item().table_name,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-03T10:16:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}